 {
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    "no-console": "warn",
    "quotes": ["error", "double"],
    "jsx-quotes": ["error", "prefer-double"],
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["warn", "always"],
    "@typescript-eslint/no-explicit-any": "off"
  }
}
